<h1><%= t('headers.edit', model: Book.model_name.human) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('helpers.submit.show', model: Book.model_name.human.downcase), @book %> |
  <%= link_to t('helpers.submit.back', model: Book.model_name.human), books_path %>
</nav>
