<h1><%= t('book.headers.edit') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('book.helpers.submit.book.show'), @book %> |
  <%= link_to t('book.helpers.submit.book.back'), books_path %>
</nav>
